<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API ESTRUCTURAS DE DATOS</title>
</head>
<body>
    <h1>API ESTRUCTURAS DE DATOS</h1>
    <h2>NICKOLAS NOLTE</h2>


    <button onclick="addSong()">Add song to the queue</button>
    <button onclick="playNow()">Play Now</button>
    <button onclick="playNext()">Play Next</button>
    <button onclick="playPrevious()">Play Previous</button>
    <button onclick="songList()">List of Songs</button>

<p id="demo"></p>

<script>
function addSong() {
  document.getElementById("demo").innerHTML = "";
}

function playNow() {
    document.getElementById("demo").innerHTML = "";
}

function playNext() {
    document.getElementById("demo").innerHTML = "";
}

function playPrevious() {
    document.getElementById("demo").innerHTML = "";
}

function songList() {
    document.getElementById("demo").innerHTML = "";
}
</script>


</body>
</html>
