<!DOCTYPE html>
<html lang="en">
<style>
    .container { 
        height: 200px;
        position: relative;
      }
    
      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
</style>
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API ESTRUCTURAS DE DATOS</title>
</head>
<body>
    <h1 style="text-align: center;">API ESTRUCTURAS DE DATOS</h1>
    <h2 style="text-align: center;">NICKOLAS NOLTE</h2>

<div class="container">
    <div class="center">
        <button onclick="addSong()">Add song to the queue</button>
        <button onclick="playNow()">Play Now</button>
        <button onclick="playNext()">Play Next</button>
        <button onclick="playPrevious()">Play Previous</button>
        <button onclick="songList()">List of Songs</button>
    </div>
</div>

<p id="demo"></p>

<script>
function addSong() {
  document.getElementById("demo").innerHTML = "";
}

function playNow() {
    document.getElementById("demo").innerHTML = "";
}

function playNext() {
    document.getElementById("demo").innerHTML = "";
}

function playPrevious() {
    document.getElementById("demo").innerHTML = "";
}

function songList() {
    document.getElementById("demo").innerHTML = "";
}
</script>


</body>
</html>
